<!DOCTYPE html>
<html lang="en">
   {{>header}}
  <body>
     <div class="container">
       <div>
         <h1>{{title}}</h1>
         <p>This site was created by MrAdam. It uses data from mapbox.com and weatherstack.com</p>
         <img class="portrait" src="./imgs/img.png" />
       </div>
           {{>footer}}
      </div>
   
    
      
  </body>
</html>
