<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body>
    <div class="container">
       <div>
        <h1>{{title}}</h1>
        <p>Use this site to get your weather </p>
      </div>
      
          {{>footer}}
    </div>
  </body>
</html>
